.navbar{
    flex-grow: 1;
    position: sticky;
    top: 0;
    left:0;
    right: 0;
    margin-bottom: 200px;
    z-index: 99;
    background-color: #79369f;
    opacity: 100%;
}

.active {
    font-weight: bold;
    color: #3f51b5;
  }

.login{
    color: #c7c7c7;
}